%header
  %h1= @chart.title
  %a(href="/") create a chart
  %a.edit-link(href="#{@chart.edit_path}") use this as a template for another chart

%section.chart
  %div(class="#{@chart.chart_type}-chart" data-source="#data-table")
  = haml(:table, :layout => false)

%section.details
  .description= markdown(@chart.description)

  %p Want to embed this chart?
  %textarea
    :preserve
      <iframe src="#{@chart.embed_url}" />
