!!!
%head
  %title= "#{@chart.title} - Charter"
  = stylesheet_link_tag("embed")
  = javascript_include_tag("http://code.jquery.com/jquery-1.9.1.min.js")
  = javascript_include_tag("http://code.highcharts.com/highcharts.js")
  = javascript_include_tag("hightables")

%body
  %div(class="#{@chart.chart_type}-chart" data-source="#data-table")
  = haml(:table, :layout => false)
  .caption
    %a(href="#{@chart.url}")= @chart.title
