!!!
%head
  %title ChartMaker
  = stylesheet_link_tag("application")
  = javascript_include_tag("http://code.jquery.com/jquery-1.9.1.min.js")
  = javascript_include_tag("http://code.highcharts.com/highcharts.js")
  = javascript_include_tag("hightables")
  = javascript_include_tag("application")

%body
  %section.chart-section
    #rendered-chart.line-chart(data-source="#data-table" data-options="getChartOptions")

  %section.table-section
    - form_tag("/", :id => "data-form") do
      = text_field_tag("title", :class => "title empty", :placeholder => "Enter chart title")
      = text_area_tag("table-data", :id => "table-data", :style => "display: none;")

      .chart-type-field
        %label Chart Type
        = select_tag("chart-type", :id => "chart-type", :options => @chart_types)

      %table#data-table
        %tr
          - 2.times do
            %th <input type="text" />
        - 4.times do
          %tr
            - 2.times do
              %td <input type="text" />

      = submit_tag("Save", :id => "save-button")
