!!!
%head
  %title ChartMaker
  = stylesheet_link_tag("application")
  = javascript_include_tag("http://code.jquery.com/jquery-1.9.1.min.js")
  = javascript_include_tag("http://code.highcharts.com/highcharts.js")
  = javascript_include_tag("hightables.min")
  = javascript_include_tag("application")

%body
  %section.chart-section
    #rendered-chart.line-chart(data-source="#data-table")

  %section.table-section
    %table#data-table
      %tr
        - 4.times do
          %th <input type="text" />
      - 4.times do
        %tr
          - 4.times do
            %td <input type="text" />
